@tailwind base;
@tailwind components;
@tailwind utilities;
.green-box {
  position: absolute;
  background: #0c474b;
  top: 0;
  z-index: -2;
  bottom: 0;
  opacity: 0.6;
  right: 0;
  transition: width ease-in-out 0.3s;
}
.red-box {
  position: absolute;
  background: #3d313f;
  top: 0;
  z-index: -2;
  bottom: 0;
  left: 0;
  transition: width ease-in-out 0.3s;
}
